<html>
  <link rel="stylesheet" href="css/navbar.css" />
  <h1>my events/hot events here</h1>

  <div>
    <h3>search events</h3>
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" />
    <button>Search</button>
  </div>

  <!-- generate with js thru db-->
  {{ range .Events }}
  <div class="event-listing">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMWPB5Y0IU9M019G1kWJZ3uyk3MTPMoORFxQ&s"
      alt="image information"
    />
    <div class="event-listing-details">
      <h1 class="event-listing-title">stock image picnic!</h1>
      <p class="event-listing-blurb">
        come have a really boring corporate time!
      </p>
    </div>
  </div>
  {{ end }} {{template "navbar" .}}
</html>
