<html lang="en">
  {{ template "head" . }} {{ template "navbar" }}
  <link rel="stylesheet" href="/css/rsvp.css" />
  <body>
    <main id="question-group">
      <h1>Host Questions</h1>
      <div class="question">
        <h3>Question 1</h3>
        <textarea type="text" name="question1"></textarea>
      </div>
      <div class="question">
        <h3>Question 2</h3>
        <textarea type="text" name="question2"></textarea>
      </div>
      <div class="question">
        <h3>Question 3</h3>
        <textarea type="" name="question3"></textarea>
      </div>
      <button id="submit">RSVP</button>
    </main>
  </body>
</html>
