<html lang="en">
  {{ template "head" . }} {{ template "navbar" }}
  <link rel="stylesheet" href="/css/rsvp.css" />
  <body>
    <main id="question-group">
      <h1>Host Questions</h1>
      <div class="question">
        <h4>What is your experience level with D&D?</h4>
        <textarea type="text" name="question1"></textarea>
      </div>
      <div class="question">
        <h4>Do you have any technical requirements or issues?</h4>
        <textarea type="text" name="question2"></textarea>
      </div>
      <div class="question">
        <h4>What snacks or drinks do you like to have while gaming?</h4>
        <textarea type="" name="question3"></textarea>
      </div>
      <button id="submit">RSVP</button>
    </main>
  </body>
</html>
