 body {
    background-color: lightgray;
 }

 #close {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px;
  }

 #close a {
    all: unset;
    display: flex;
    overflow-y: hidden;
    opacity: 0.75;
    height: 30px;
    width: fit-content;
    align-items: center;
    background-color: lightgray;
    padding: 1px;
    border: 1px solid gray;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #filter-box {
    padding: 10px;
    width: fit-content;
    margin: auto;
  }

 #filter-box h3 {
    margin: 10px 0;
  }

 #filter-box ul {
    border: 1px solid black;
  }

  #filter-box li {
    list-style-type: none;
    margin: 10px;
  }

  #submit {
    width: fit-content;
    margin: 10px auto;
    padding: 5px;
  }

  #submit a {
    all: unset;
  }