#nav-container{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 22vw;
    right: 0;
    bottom: 0;
}

nav {
    display: flex;
    position: relative;
    padding: 5px;
    width: 100%;
    background-color: white;
    
  }

  nav a {
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
    width: 15vw;
    aspect-ratio: 1/1;
  }

  #impulse-button {
    position: absolute;
    bottom:0;
    left: 39vw;
    width: 22vw;
    aspect-ratio: 1/1;
    border-radius: 5vw;
    background-color: white;
    z-index: -10;
  }

  nav svg{
    width: 100%;
  }