body {
    justify-content: space-between;
}

.profile-container {
    width: 15vw;
}

.profile-header {
    width: 100vw;
}

.profile-header img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}